<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>

  <meta charset="UTF-8">

  <title>Toxic Comment Classifier</title>
  

 


  <!-- Loading font types -->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>

<body onload="myFunction()>


  
 <div class="login">

<center>
 
  <img src="static/image/main.jpg" class="w3-border w3-padding" alt="Toxic Comment Classification" height=400 style="width:75%">

  
    <h1 style="color:blue;">Hy You. I am Machine leaning Model. <br>I am looking your text. <br>I can classify that what you are writing </h1>
    </h1>
  
    <img src="static/image/alien.png" class="w3-border w3-padding" alt="Toxic Comment Classification" height=300 style="width:20%">
  

  <h1 style="color:rgb(0, 255, 0);">Write your comment in Text Box and test that Your text is Toxic Or not.</h1>
       <h1 style="color:red;">Is your comment toxic?</h1>
 
       
  
  
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
     


    	<input id='text' type="text" name="text" placeholder="Enter your text" required="required" size="25" style="font-size:25px;"/>

      <button id='button' type="submit" class="btn btn-primary btn-block btn-large" style="font-size: 20px;"> Predict</button>

   
    </form>


       <h3>{{ pred_tox }} <br><br>
    {{ pred_sev }} <br><br>
    {{ pred_obs }} <br><br>
    {{ pred_ins }} <br><br>
    {{ pred_thr }} <br><br>
    {{ pred_ide }}</h3>
<br> 
<h3>Made By Amiruddin Saifi.</h3>
  </center>
 </div>
</body>
</html>
